.rolling {
  @apply h-[41.14px] overflow-clip md:h-[96.8px];

  & > div {
      animation-name: rolling;
      animation-duration: 9s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @apply transition-transform;

    & > div {
      @apply bg-gradient-to-r from-secondary-900 to-primary-900 bg-clip-text text-transparent;
    }
  }
}

@keyframes rolling {
  0% {
    @apply translate-y-0;
  }

  33% {
    @apply -translate-y-1/3;
  }

  67% {
    @apply -translate-y-2/3;
  }

  100% {
    @apply translate-y-0;
  }
}
