.rolling {
  @apply h-[41.14px] overflow-clip md:h-[96.8px];

  & > div {
    animation-name: rolling;
    animation-duration: 9s;
    animation-iteration-count: infinite;

    & > div {
      @apply bg-gradient-to-r from-secondary-900 to-primary-900 bg-clip-text text-transparent;
    }
  }
}

@keyframes rolling {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-33.333%);
  }

  67% {
    transform: translateY(-66.667%);
  }

  100% {
    transform: translateY(0);
  }
}
